.circularprogress{
    position: relative;

    &>span{
        position:absolute;
        top: 0;
        left: 0;
    }
    &>div{
        position: absolute;
        left: 22px;
        top: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        &>p{
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }

        &>span{
            color: $darkgrey;
            padding-bottom: -10px;
            font-size: 10px;
            font-weight: bold;
        }
    }
}
